/* CSS reset */
*, *::before, *::after {
box-sizing: border-box;
}
html {
    background-color: #3b3c40;
    font-size: 18px;
    color: whitesmoke;
}
html, body, 
header, article, 
section, aside, 
nav, footer, 
main,  ul, 
li, img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-width: 100%;
    display: grid;
    align-items: center;
    line-height: 1.2;
 }
 
 nav, ul, li {
    list-style-type: none;
 }
 a {
    text-decoration: none;
 }
 /* Reset */
 