/* CSS reset */
*, *::before, *::after {
box-sizing: border-box;
}
html {
    font-size: 16px;
    color: whitesmoke;
}
html, body, 
header, article, 
section, aside, 
nav, footer, 
main,  ul, 
li, img, figure {
    margin: 0;
    padding: 0;
 }
 img {
    overflow: clip;
 }
 nav, ul, li {
    list-style-type: none;
 }
 a {
    text-decoration: none;
 }
 /* Reset */
 